[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
django-filter = "*"
python-dotenv = "*"
drf-spectacular = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pep8 = "*"
model-bakery = "*"
faker = "*"
pytest-xdist = "*"

[requires]
python_version = "3.12"
